.modal-block{
    /// forgot///
    .forgot-modal{
        width: 70%;
        .forgot-text {
            border-bottom: 0px;
            padding: 10px 0 0 0;
            @include sanspro(regular, 14px);
        }
        .m-submit-help {
            padding: 0px;
        }
        .m-body {
            padding: 0px 20px 0px 15;
            .form-group {
                input{
                    padding-left: 16px;
                    color: $grayish-black;
                    @include sanspro(regular, 14px);
                    height: 30px;
                    border-radius: 0;
                }
            }
            .forgot-submit {
                margin: 0px;
                padding: 0px;
                padding-bottom: 10px;
            }
        }
    }
    .radio-container {
        display: inline-block;
        position: relative;
        padding-left: 17px;
        padding-right: 8px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 4px;
        left: 0;
        height: 10px;
        width: 10px;
        background-color: #eee;
        border-radius: 3px;
        border-color: $pale-grey;
    }
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    .radio-container input:checked~.checkmark:after {
        display: block;
    }
    .radio-container .checkmark:after {
        top: 1px;
        left: 1px;
        width: 5px;
        height: 6px;
        border-radius: 2px;
        background: $orange-shade;
    }
    .m-radio-text{
        display: inline-block;
        padding-right: 20px;
    }
    #customerHelpModal {
        .modal-body {
            form {
                input {
                    border-radius:0px;
                }
            }
        }
    }
    .modal-content{
        border-radius: 0px;
        .help-form {
            padding: 15px 15px;
        }
        .m-body {
            form {
                select { 
                    border-color: $pale-grey;
                }
            }
        }
    }
    .m-header{
        padding: 5px 15px;
        .m-need {
          @include corpid(bold, 20px);
            color: $gray-black;
        }
        .btn-cancl {opacity: 1;
            color: $gray-black;
            padding: 16px 15px;
            outline: none;
        .cancl { 
            color: $gray-black;
            .cancl-icon {
                font-size: 20px;
                padding-top: 6px;
                padding-right: 5px;
            }
        }
      }
    }
    .m-header-text{
          border-bottom:1px solid $pale-grey;
          padding: 10px 10px 15px 14px;
          color:$grayish-black;
          margin-bottom: 8px;
          @include sanspro(semibold, 12px);
          span {
              color: $orange-shade;
          }
    }
    // for help page
    .have-question {
        padding: 12px 10px 10px 12px;
        margin: 0px 10px;
    }
    
    .m-body{
        padding: 0px 15px;
        .m-radio-block{
            padding-top: 10px;
            margin-bottom: 0px;
          .m-radio-label{
                padding-left: 15px;
                margin-bottom: 7px;
                .m-radio-span{
                    vertical-align: bottom;
                }
            }
        }
        label {
            @include sanspro(semibold, 12px);
        }
        .form-group {
            .form-border {
                border-color: $red;
            }
        }
        .form-group textarea{
            font-size: 7px;
            border-radius: 0;
            border-color: $pale-grey;
        }
    }
    .m-submit-btn{
        margin: 10px 0px;
        .submit-button {
            background-color: $blue;
            border-radius:20px;
            @include sanspro(semibold, 16px);
        }
    }
    .m-submit-help{
        padding: 0px 15px;
        margin: 10px 0px;
        .submit-button {
            background-color: $blue;
            border-radius:20px;
            @include sanspro(semibold, 16px);
        }
    }
}

// for mobile 

@media screen and (max-width:768px) {
    .modal-block {
        .forgot-modal {
            width: 100%;
        }
        .m-header {
            .m-need {
                font-size: 17px;
            }
        }
    }
}