// Header
.header,
.primary-header {
    background: $hbgcolor;
    color: $white;
    font-size: 32px;
    .logo {
        display: inline-block;
        padding: 1px 0 5px;
        img {
            width: 170px;
            height: 42px;
        }
    }
}

.primary-header {
    @include box-shadow(0, 7px, 7px, $blue-shadow);
    position: relative;
    z-index: 1;
    .profile-details {
        text-align: right;
        float: right;
        .profile-image {
            display: inline-block;
            line-height: 1;
            img {
                width: 35px;
            }
        }
        .show {
            display: inline-flex;
        }
    }
    .profile-dropdown {
        background-color: $light-purple !important;
        border: 0;
        outline: none;
        font-size: 14px;
        position: relative;
        &:focus,
        .show,
        .active {
            box-shadow: none !important;
            background-color: $light-purple;
            border: 0;
        }
        .user {
            position: relative;
            padding-right: 15px;
            margin-right: 0;
            @include roboto(regular, 18px);
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                border: 5px solid transparent;
                border-top-color: #fff;
            }
        }
    }
    .dropdown-menu {
        position: relative;
        width: 375px;
        padding: 0;
        border: 0;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        @include box-shadow(2px, 3px, 14px, rgba(00, 00, 00, 0.2));
        color: rgba(58, 93, 174, 0.2);
        &:before {
            content: '';
            position: absolute;
            right: 16px;
            top: -20px;
            border: 10px solid transparent;
            border-bottom-color: $light-purple;
        }
        &.show {
            display: block;
            top: 120% !important;
            right: 30px !important;
            left: auto !important;
            transform: none !important;
        }
    }
    .profile-name {
        .list-block {
            padding: 18px 25px;
            background: $light-purple;
        }
        .image-left,
        .image-right {
            float: left;
        }
        .image-left img {
            width: 100px;
        }
        .image-right {
            color: $white;
            padding: 20px
        }
        .user-name {
            @include sanspro(regular, 24px);
        }
        .email,
        .account {
            @include sanspro(regular, 14px);
        }
    }
    .dropdown-item {
        margin: 20px 0;
        padding: 7px 25px;
        color: $grayish-black;
        &:hover,
        &:active {
            background: none;
        }
        span {
            padding-left: 25px;
            vertical-align: bottom;
            @include sanspro(regular, 18px);
        }
        i {
            font-size: 18px;
        }
    }
    .logout {
        padding: 20px 25px;
        border-top: 1px solid $dim-grey;
        button {
            background: $white;
            padding: 6px 30px 10px;
            border-radius: 20px;
            @include sanspro(regular, 16px);
            color: $black;
            border: 1px solid $grayish-black;
            font-weight: 600;
        }
    }
}

@media (max-width: 767px) {
    .header {
        position: fixed;
        width: 100%;
        text-align: center;
        padding: 0;
        z-index: 1;
        top: 0;
        img {
            width: 150px;
            height: auto;
        }
        .logo {
            padding: 0;
        }
    }
    .primary-header {
        box-shadow: none;
        .profile-name {
            .image-left img {
                width: 70px;
            }
            .image-right {
                padding: 0px 15px;
            }
        }
        .dropdown-item {
            margin: 15px 0;
        }
        .profile-details {
            text-align: left;
            float: left;
        }
        .profile-dropdown {
            padding: 8px 0;
            text-align: left;
            .user {
                padding: 0 0 0 8px;
                font-size: 14px;
                &::after {
                    display: none;
                }
            }
        }
        .dropdown-menu {
            &:before {
                right: auto;
                left: 10px;
            }
            &.show {
                right: auto !important;
                width: 90vw;
                max-width: 400px;
            }
        }
    }
}

@media (min-width: 992px) {
    .dropdown-menu-lg-right {
        right: 0 !important;
        left: auto !important;
    }
}