$black: #000;
$blue: blue;
$white: #fff;
$color-grey: #dee6e8;
$color-white: #ffffff;
$gray: #cacaca;
$light-gray: #f0f4f5;
$badge-background: #61617B;
$body-background: #DEE6E8;
$light-grey: #CCCCCC;
$pale-grey:#bababa;
$light-brown: #B1B1B1;
$pale-brown: #E7EDEF;
$dark-green: #00545F;
$violet: #475678;
$purple: #e2ebfd;
$orange: #f46d0e;
$blue: #417ef2;
$dark-gray: #757575;
$gray-variant: #717171;
$green: #4FAC43;
$pale: #DAE3E8;
$light-green: #CAE6C6;
$grayish-black: #425563;
$gray-black: #323C53;
$blue-variant: #475678;
$light-purple: #3A5DAE;
$hbgcolor: #3A5DAE;
$fbgcolor: #323C53;
$fpcolor: #475678;
$bglightred: #FAE7E7;
$red: #CB0000;
$gray-tab: #7a99ac;
$form-fields-border: #989898;
$light-orange: #F36400;
$lighter-gray:#B2B2B2;
$green-variant:#4fac436b;
$pale-yellow: #EEF2F3;
$darkish-gray: #A2A2A2;
$dark-orange:#CB6015;
$strong-blue:#316095;
$silver:#c3c3c3;
$silver-variant:#8b8b8b;
$darker-green: #06A200;
$lighter-green: #D9F1D9;
$orange-shade:#CB6015;
$dim-grey: #707070;
$brown: #4D4F5C;
$navy-blue: #465677;
$light-silver:#B9B9B9;
$black-shade:#1D1D1D;
$sky-blue:#00BFEC;
$blue-shade:#0097BA;
$dark-red:#AC4117;
$dim-orange:#FAAF40;
$blue-shadow:#314E93;
$light-blue: #3882BE;